.business{
    padding-top: 78px;
}
.business__header{
    max-width: 585px;
    font-weight: 700;
    line-height: 58px;
    font-size: 50px;
    color: #000;
    margin-bottom: 22px;
}
.business__features-cont{
    position: relative;
}
.business__features-row{
    position: absolute;
    top: 0;
    left: 0;
    width: 3000px;
    transition: all .4s;
    p{
        display: inline-block;
        font-size: 44px;
        font-weight: bold;
        line-height: 58px;
        font-size: 50px;
        color: #dddddd;
        margin-right: 50px;
        &.inposition{
            color: #AF399C;
            border-bottom: 5px solid #AF399C;
        }
    }
}