.business{
    padding-top: 78px;
}
.business__header{
    max-width: 585px;
    font-weight: 700;
    line-height: 58px;
    font-size: 50px;
    color: #000;
    margin-bottom: 22px;
}
.business__features-cont{
    position: relative;
    height: 70px;

}
.business__features-row{
    position: absolute;
    top: 0;
    left: 0;
    width: 3000px;
    transition: all .4s;
    p{
        display: inline-block;
        font-weight: bold;
        line-height: 58px;
        font-size: 50px;
        color: #dddddd;
        margin-right: 50px;
        cursor: pointer;
        &.inposition{
            color: #AF399C;
            border-bottom: 5px solid #AF399C;
        }
        &:last-child{
            position: relative;
        }
        &:last-child.inposition > #slider-back{
            opacity: 0.9;
        }
    }
}

.business__features-slider{
    position: relative;
}
.business__features-slide{
    position: absolute;
    min-height: 500px;
    width: 100%;
    height:fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F7FF;
    padding: 54px 70px 61px 92px;
    opacity: 0;
    transition: opacity .5s;
}
.business__features-slide.show{
    opacity: 1;
    z-index: 100;
}
.workaround{
    min-height: 500px;
    visibility: hidden;
    z-index: -50;
    width: 0;
}
.business__feature-text{
    max-width: 548px;
    width: 45%;
}
.business__feature-text p{
    font-size: 20px;
    color: #000;
    line-height: 34px;
    &:first-child{
        margin-bottom: 22px;
    }
    span{
        font-weight: bold;
    }
}
.business__feature-text a{
    display: inline-block;
    margin-top: 56px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #0062FF;
    transition: margin-right .4s;
    &:hover{
        margin-right: 23px;
    }
    & + img{
        margin-top: -2px;
    }
}
.business__feature-image{
    max-width: 591px;
    width: 45%;
    img{
        width: 100%;
    }
}
#slider-back{
    opacity: 0;
    font-size: 22px;
    color: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(110%, -50%);
    width: 200px;
    height: 55px;
    transition: opacity .8s;
}

