/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {
    .wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1092px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 960px) {
    .header-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-top__login{
        order: 0;
        margin-bottom: 22px;
    }
    .header-top__links{
        order: 2;
    }
    .header-top__logo{
        order: 1;
        margin-bottom: 44px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 550px){ 

}


/* Extra Small Devices, Phones */

@media only screen and (max-width : 460px){
    .header-top__link{
        margin-left: 18px;
        margin-right: 18px;
    }
}

@media only screen and (max-width : 390px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .header-top__links{
        flex-direction: column;
        align-items: center;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 460px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}