/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1340px) {
    .advantages__row-item--first h3:before{
        display: none;
    }
    .advantages:before{
        display: none;
    }
}
@media only screen and (max-width : 1300px) {
    .wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
    .business__features-row p{
        font-size: 42px;
        margin-right: 40px;
    }
}
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1092px) {
    .business__features-row p{
        font-size: 38px;
        margin-right: 34px;
    }
    .business__feature-text p{
        font-size: 16px;
        line-height: 19px;
        &:first-child{
            margin-bottom: 18px;
        }
    }
    .business__feature-text a{
        margin-top: 32px;
        margin-right: 15px;
        font-size: 16px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header-info__title{
        font-size: 48px;
        line-height: 62px;
    }
    .business__features-row p{
        font-size: 35px;
        margin-right: 32px;
    }
    .markets{
        padding-top: 80px;
        padding-bottom: 110px;
    }
    .markets__center{
        width: 200px;
        height: 200px;
        img{
            width: 55%;
        }
    }
}
@media only screen and (max-width : 960px) {
    .header-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-top__login{
        order: 0;
        margin-bottom: 22px;
    }
    .header-top__links{
        order: 2;
    }
    .header-top__logo{
        order: 1;
        margin-bottom: 44px;
    }
}
@media only screen and (max-width : 900px) {
    .advantages__row-item p{
        font-size: 15px;
    }
    .advantages__row-item h4{
        font-size: 20px;
    }
}
@media only screen and (max-width : 860px) {
    .markets__title{
        font-size: 42px;
        line-height: 45px;
    }
    .unnecessary{
        display: none;
    }
}
@media only screen and (max-width : 830px) {
    .advantages__row{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .advantages__row-item--first{
        text-align: center;
        width: 90%;
    }
    .advantages__row-item--first h3{
        max-width: 100%;
        margin-bottom: 38px;
    }
    .advantages__row-item{
        margin-bottom: 27px;
    }
    .advantages__row-item--last{
        margin-right: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header-info__title{
        font-size: 42px;
        line-height: 52px;
    }
    .business__features-row p{
        font-size: 26px;
        margin-right: 22px;
    }
    .slogan__title{
        font-size: 26px;
    }
}

@media only screen and (max-width : 750px) {
.markets__container{
    background: none;
}
.markets__center{
    width: 120px;
    height: 120px;
}
.markets__title{
    font-size: 38px;
    line-height: 41px;
}
.markets__carts-cont{
    margin-bottom: 33px;
}
.markets__live-support{
    h3{
        font-weight: 900;
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 22px;
    }
    p{
        font-size: 18px;
        line-height: 24px;
        width: 90%;
        padding-bottom: 44px;
    }
}
}

@media only screen and (max-width : 650px){ 
    .header-top__links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .header-top__link{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .header-stars{
        flex-direction: column;
    }
    .header-stars__block--middle{
        border: none;
    }
    .header-stars__block{
        margin-bottom: 19px;
    }
    .markets__center{
        display: none;
    }
    .markets__container{
        width: 90%;
        padding-top: 0;
    }
    .markets__title{
        margin-bottom: 44px;
    }
    .markets__carts--left{
        img{
            width: 70%;
            &:last-child{
                margin-left: 0;
            }
        }
    }
    .markets__carts--right{
        img{
            width: 70%;
            &:nth-child(2){
                margin-left: 0;
            }
            &:last-child{
                margin-left: 0;
            }
        }
    }
    .business{
        display: none;
    }
    .slogan{
        margin-top: 55px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width : 550px){ 
    .header-top__links{
        flex-direction: column;
        align-items: center;
    }
    .header-info__title{
        font-size: 36px;
        line-height: 41px;

    }
    .header-info__checkbox-group{
        flex-direction: column;
    }
}
@media only screen and (max-width : 500px){ 
    .markets__carts-cont{
        flex-direction: column;
        align-items: center;
    }

    .markets__carts{
        text-align: center;
        img{
            width:initial;
            margin-bottom: 36px;
            &:last-child{
                margin-bottom: 36px;
            }
        }
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 460px){
    .header-top__link{
        margin-left: 18px;
        margin-right: 18px;
    }
    .header-button__btn{
        background: none;
        background-color: #0062FF;
    }
}

@media only screen and (max-width : 390px) {
    .markets__title{
        font-size: 31px;
        line-height: 33px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 460px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}